:root {
  --primary-color:#0a5292;
  --secondary-color:#f49820;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(1,138,166);
  background: linear-gradient(120deg, rgba(1,138,166,1) 0%, rgba(36,80,147,1) 100%); 
  color: #fff;
  height: 100vh;
}
.navbar {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.2em 5em;
}
.navbar .logo {
  width: 40px;
}
.navbar .title {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  gap: .5em;
  color: #fff;
}

.name span {
  color: var(--secondary-color);
}
.navbar .navigation ul {
  display: flex;
  align-items: center;
  gap: 1em;
}

.navbar ul li {
  list-style-type: none;
}
.navbar ul a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
}
.navbar  .button, .hero-nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  padding: 8px 25px;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
}
.navbar .sign-up {
  background-color: #fff;
  color: var(--primary-color);
  margin-left: 1em;
}


/*  */
.hero {
  display: flex;
  align-items: center;
  padding: 3em;
  justify-content: space-evenly;
}

.hero-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  gap: 1em;
}
.hero-title {
  color: #fff;
  font-size: 2.7em;
  line-height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.hero-title h1 {
  color: var(--secondary-color);
}
.hero-nav {
  margin-top: 1em;

}
.hero-nav a {
  font-family: Arial, Helvetica, sans-serif;
}
.hero-nav .get {
  background-color: #fff;
  color: var(--primary-color);
  margin-right: 5px;
}
.hero-image img {
  height: 60vh;
  filter: drop-shadow(2px 2px 3px #2b2a2a);
}

.social-media {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}
.sosmed {
  width: 45px;
  display: grid;
  place-content: center;
  color: var(--primary-color);
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.3em;
}

